<h1>Fight!</h1>
<h2>Get ready to Fight!</h2>
<%= @game.player_1.name %> vs <%= @game.player_2.name %>
<%= @game.player_1.name %> HP = <%= @game.player_1.hp %><br>
<%= @game.player_2.name %> HP = <%= @game.player_2.hp %><br>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
